<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/flights/show.css'/>
  <title>Flight Details</title>
  <%- include('../partials/nav') %>
</head>
<body>
  <main>
    <h1>FLight Details</h1>
    <table>
      <thead>
        <tr>
          <th>Airline</th>
          <th>Airport</th>
          <th>Flight No.</th>
          <th>Depart Time</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= flight.airline %></td>
            <td><%= flight.airport %></td>
            <td><%= flight.flightNo %></td>
            <td><%= flight.departs %></td>
          </tr>
      </tbody>
    </table>
    <form action="/flights/<%= flight._id %>/tickets" id="add-ticket" method="post">
      <label for="seat">Enter seat no.</label>
      <input name="seat" id="seat" required pattern="[A-F][1-9]\d?">
      <label for="price">Enter price:</label>
      <input name="price" id="price" type="text">
      <button type="submit">Add ticket</button>
    </form>
      <h3>Meals:</h3>
    <ul>
      <% flight.meals.forEach(flightMeal => { %>
        <li><%= flightMeal.name %></li>
      <% }) %>
    </ul>
    <form 
    id="add-meal-to-flight" 
    action="/flights/<%= flight._id %>/meals" 
    method="post"
    >
    <select name="mealId">
      <% meals.forEach(meal => { %>
       <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add meal to flight</button>
  </form>
    <% if(flight.tickets.length) { %>
      <table>
        <thead>
          <tr>
            <h3>Tickets:</h3>
            <th>Seat</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(function(ticket) { %>
            <tr>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %> 
      <h3>No Tickets Yet</h3>
      <% } %> 
  </main>
</body>
</html>